{% extends "Global/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set pagetitle = 'registration.confirmed'|trans({'%username%': user.username}) %}

{% block title %}{{pagetitle}}{% endblock %}

{% block content %}

    <section class="section-content padding-y bg-white">
        <div class="{{ services.getSetting("app_layout") }}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card box">
                        <div class="card-body">
                            <p class="text-center"><i class="far fa-check-circle fa-8x text-success"></i></p>
                            <h3 class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
                            {% if targetUrl %}
                                <p class="text-center"><a href="{{ targetUrl }}"><i class="fas fa-long-arrow-alt-left"></i> {{ 'registration.back'|trans }}</a></p>
                            {% endif %}

                            <p class="text-center mt-5">
                                <a href="{{ path('dashboard_index') }}" class="btn btn-primary mb-3"><i class="fas fa-tachometer-alt fa-fw"></i> {{ "Dashboard"|trans({}, 'messages') }}</a>
                                {% if is_granted('ROLE_ATTENDEE') %}
                                    <a href="{{ path('events') }}" class="btn btn-outline-primary mb-3"><i class="fas fa-calendar-alt fa-fw"></i> {{ "Browse events"|trans({}, 'messages') }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
