{% extends "Global/layout.html.twig" %}

{% if is_granted('ROLE_ATTENDEE') %}
    {% set pagetitle = 'My reviews' | trans %}
{% elseif is_granted('ROLE_ORGANIZER') %}
    {% set pagetitle = 'Reviews' | trans %}
{% elseif is_granted('ROLE_ADMINISTRATOR') %}
    {% set pagetitle = 'Manage reviews' | trans %}
{% endif %}

{% block title %}{{pagetitle}}{% endblock %}

{% block content %}

    {% set navigation = [{"current":(pagetitle)}] %}
    {% include "Global/navigation.html.twig" with navigation %}

    <section class="section-content padding-y bg-white">
        <div class="{{ services.getSetting("app_layout") }}">

            <div class="row">
                <aside class="col-lg-3 pt-3 pt-lg-0">
                    {% include "Dashboard/sidebar.html.twig" %}
                </aside>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    {% if is_granted('ROLE_ORGANIZER') or is_granted('ROLE_ADMINISTRATOR') %}
                        <div class="box shadow-none bg-gray mb-4">
                            <div class="row">
                                <div class="col-sm-12 col-lg-5 text-center text-lg-left mb-3 mb-lg-0">
                                    <span class="center-lg-y text-muted">{{ "%resultsCount% reviews(s) found"|trans({'%resultsCount%': reviews.getTotalItemCount}) }}</span>
                                </div>
                                <div class="col-sm-12 col-lg-5 text-center text-lg-right">
                                    <label for="sortable-select" class="display-inline">{{ "Sort by"|trans }}
                                        <select id="sortable-select" class="form-control display-inline-block bg-white select2 ml-3" data-placeholder="{{ "Select an option"|trans }}" style="width: 50%;">
                                            {{ knp_pagination_sortable(reviews, "Rating"|trans ~ ' (' ~ "desc"|trans ~ ')', "r.rating", {"direction": "desc", "criteria": "r.rating"}) }}
                                            {{ knp_pagination_sortable(reviews, "Rating"|trans ~ ' (' ~ "asc"|trans ~ ')', "r.rating", {"direction": "asc", "criteria": "r.rating"}) }}
                                            {{ knp_pagination_sortable(reviews, "Review date"|trans ~ ' (' ~ "desc"|trans ~ ')', "r.createdAt", {"direction": "desc", "criteria": "r.createdAt"}) }}
                                            {{ knp_pagination_sortable(reviews, "Review date"|trans ~ ' (' ~ "asc"|trans ~ ')', "r.createdAt", {"direction": "asc", "criteria": "r.createdAt"}) }}
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-12 col-lg-2 text-center text-lg-right">
                                    <a href="#search-filters" class="btn btn-primary has-tooltip" data-toggle="collapse" title="{{ "Toggle display the search filters"|trans }}" aria-expanded="false" aria-controls="search-filters"><i class="fab fa-searchengin fa-lg"></i></a>
                                </div>
                                <div id="search-filters" class="col-sm-12 col-lg-12 text-center mb-3 mb-lg-0 collapse show">
                                    <hr>
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-sm-4 text-left mb-4">
                                                <label for="keyword">{{ "Keyword"|trans }}</label>
                                                <input id="keyword" name="keyword" type="text" class="form-control bg-white" value="{{ app.request.get('keyword') }}" placeholder="{{ "Search in reviews"|trans }}" style="width: auto;">
                                            </div>
                                            <div class="col-12 col-sm-4 text-left mb-4">
                                                <label for="event">{{ "Event"|trans }}</label>
                                                <input type="text" class="mr-sm-2 mb-2 mb-sm-0 autocomplete bg-white" id="event" name="event" data-url-list="{{ is_granted('ROLE_ADMINISTRATOR') ? path('get_events', { published: "all", elapsed: "all" }) : path('get_events', { organizer: app.user.organizer.slug, published: "all", elapsed: "all" }) }}" data-minimum-input-length="0">
                                            </div>
                                            <div class="col-12 col-sm-4 text-left mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input id="visible-filter-all" type="radio" name="visible" value="all" class="custom-control-input">
                                                    <label for="visible-filter-all" class="custom-control-label">{{ "All"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="visible-filter-yes" type="radio" name="visible" value="1" class="custom-control-input">
                                                    <label for="visible-filter-yes" class="custom-control-label">{{ "Visible only"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="visible-filter-no" type="radio" name="visible" value="0" class="custom-control-input">
                                                    <label for="visible-filter-no" class="custom-control-label">{{ "Hidden only"|trans }}</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 text-left mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-all" type="radio" name="rating" value="all" class="custom-control-input">
                                                    <label for="rating-filter-all" class="custom-control-label">{{ "All"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-5" type="radio" name="rating" value="5" class="custom-control-input">
                                                    <label for="rating-filter-5" class="custom-control-label">{{ "5 stars"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-4" type="radio" name="rating" value="4" class="custom-control-input">
                                                    <label for="rating-filter-4" class="custom-control-label">{{ "4 stars"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-3" type="radio" name="rating" value="3" class="custom-control-input">
                                                    <label for="rating-filter-3" class="custom-control-label">{{ "3 stars"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-2" type="radio" name="rating" value="2" class="custom-control-input">
                                                    <label for="rating-filter-2" class="custom-control-label">{{ "2 stars"|trans }}</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="rating-filter-1" type="radio" name="rating" value="1" class="custom-control-input">
                                                    <label for="rating-filter-1" class="custom-control-label">{{ "1 star"|trans }}</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-4 text-left mb-4">
                                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="{{ "Search"|trans }}"><i class="fas fa-search"></i></button>
                                                <button type="reset" class="btn btn-primary" data-toggle="tooltip" title="{{ "Reset"|trans }}"><i class="fas fa-search-minus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if reviews.getTotalItemCount > 0 %}
                        <div class="card box">
                            <div class="card-body">
                                {% for review in reviews %}
                                    <div class="row mb-4">
                                        <div class="col">
                                            {% include "Global/user-review.html.twig" with {review: review, showevent: 1} %}
                                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                                <div>
                                                    {% if review.visible %}
                                                        <span class="badge badge-success mr-4"><i class="fas fa-eye fa-fw"></i> {{ "Visible"|trans }}</span>
                                                    {% else %}
                                                        <span class="badge badge-danger mr-4"><i class="fas fa-eye-slash fa-fw"></i> {{ "Hidden"|trans }}</span>
                                                    {% endif %}
                                                    {% if review.deletedAt %}
                                                        <span class="badge badge-danger mr-4"><i class="fas fa-times fa-fw"></i> {{ "Deleted"|trans }}</span>
                                                    {% endif %}
                                                    <div class="item-action dropdown float-right">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" data-boundary="window" class="icon"><i class="fas fa-ellipsis-v"></i> {{ "Actions"|trans }}</a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            {% if review.visible %}
                                                                <a href="{{ path('dashboard_administrator_review_hide', { slug : review.slug }) }}" class="dropdown-item"><i class="dropdown-icon fas fa-eye-slash fa-fw text-muted"></i> {{ "Hide"|trans }}</a>
                                                            {% else %}
                                                                <a href="{{ path('dashboard_administrator_review_show', { slug : review.slug }) }}" class="dropdown-item"><i class="dropdown-icon fas fa-eye fa-fw text-muted"></i> {{ "Show"|trans }} </a>
                                                            {% endif %}
                                                            {% if review.deletedAt %}
                                                                <a href="{{ path('dashboard_administrator_review_restore', { slug : review.slug }) }}" class="dropdown-item"><i class="dropdown-icon fas fa-trash-restore fa-fw text-muted"></i> {{ "Restore"|trans }}</a>
                                                                <span data-target="{{ path('dashboard_administrator_review_delete_permanently', { slug : review.slug }) }}" class="dropdown-item requires-confirmation" data-confirmation-text="{{ "You are about to delete the review PERMANENTLY"|trans }}"><i class="dropdown-icon fas fa-trash fa-fw text-muted"></i> {{ "Delete permanently"|trans }}</span>
                                                            {% else %}
                                                                <a href="{{ path('dashboard_administrator_review_delete', { slug : review.slug }) }}" class="dropdown-item"><i class="dropdown-icon fas fa-times fa-fw text-muted"></i> {{ "Delete"|trans }} </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% include "Global/message.html.twig" with { type: "info", message: ('No reviews found'|trans), icon: "fas fa-exclamation-circle" } %}
                    {% endif %}
                    {{ knp_pagination_render(reviews, null, {}, {'align': 'center'}) }}

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            if (getURLParameter("event")) {
                var url = "{{ (path('get_event', { slug : "eventslug", published: "all", elapsed: "all" }))|raw }}";
                url = url.replace("eventslug", getURLParameter("event"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_event').select2('data', {id: data.slug, text: data.text});
                    $('#revent').val(data.slug).change();
                });
            }

            if (getURLParameter('visible') != "null") {
                $('input[type="radio"][name="visible"][value="' + getURLParameter('visible') + '"]').attr("checked", "checked");
            }

            if (getURLParameter('rating') != "null") {
                $('input[type="radio"][name="rating"][value="' + getURLParameter('rating') + '"]').attr("checked", "checked");
            }


        });

    </script>

{% endblock %}