{% set routename = app.request.get('_route') %}
{% set random = services.generateReference(5) %}

{% if not is_granted('ROLE_ATTENDEE') %}
    <li class="nav-item">
        <a href="{{ path('dashboard_index') }}" class="nav-link {% if routename == "dashboard_administrator_index" or routename == "dashboard_organizer_index" or routename == "dashboard_pointofsale_index" or routename == "dashboard_scanner_index" %}active{% endif %}">
            {% if is_granted("ROLE_POINTOFSALE") %}
                <i class="fas fa-ticket-alt fa-fw"></i> {{'Events on sale'|trans}}
            {% elseif is_granted("ROLE_SCANNER") %}
                <i class="fas fa-calendar-alt fa-fw"></i> {{'Events list'|trans}}
            {% elseif is_granted("ROLE_ADMINISTRATOR") %}
                <i class="fas fa-tachometer-alt fa-fw"></i> {{'Dashboard'|trans}}
            {% elseif is_granted("ROLE_ORGANIZER") %}
                <i class="fas fa-tachometer-alt fa-fw"></i> {{'Dashboard'|trans}}
            {% endif %}
        </a>
    </li>
{% endif %}

{% if is_granted('ROLE_ADMINISTRATOR') %}

    {# Administrator role sidebar links #}

    <li class="nav-item">
        <a href="#settings-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-sliders-h fa-fw"></i> {{'Settings' | trans}}
        </a>
        <ul id="settings-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_administrator_settings_homepage" or routename == "dashboard_administrator_settings_payment" or routename == "dashboard_administrator_settings_newsletter" or routename == "dashboard_administrator_settings_layout" or routename == "dashboard_administrator_settings_payment_gateways_add" or routename == "dashboard_administrator_settings_payment_gateways_edit" or routename == "dashboard_administrator_settings_checkout" or routename == "dashboard_administrator_settings_events_list_page" or routename == "dashboard_administrator_settings_blog" or routename == "dashboard_administrator_settings_venue_page" or routename == "dashboard_administrator_settings_mail_server" or routename == "dashboard_administrator_settings_google_recaptcha" or routename == "dashboard_administrator_settings_google_maps" or routename == "dashboard_administrator_settings_social_login" or routename == "dashboard_administrator_settings_menus" or routename == "dashboard_administrator_settings_menus_edit" or routename == "dashboard_administrator_currency" or routename == "dashboard_administrator_currency_add" or routename == "dashboard_administrator_currency_edit" %}show{% endif %}">
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_layout" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_layout') }}">{{ "Layout, parameters and SEO"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_menus" or routename == "dashboard_administrator_settings_menus_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_menus') }}">{{ "Menus"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_homepage" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_homepage') }}">{{ "Homepage"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_payment" or routename == "dashboard_administrator_settings_payment_gateways_add" or routename == "dashboard_administrator_settings_payment_gateways_edit" or routename == "dashboard_administrator_currency" or routename == "dashboard_administrator_currency_add" or routename == "dashboard_administrator_currency_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_payment') }}">{{ "Payments and Fees"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_checkout" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_checkout') }}">{{ "Checkout"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_mail_server" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_mail_server') }}">{{ "Mail server"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_google_recaptcha" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_google_recaptcha') }}">{{ "Google Recaptcha"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_google_maps" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_google_maps') }}">{{ "Google Maps"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_social_login" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_social_login') }}">{{ "Social Login"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_events_list_page" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_events_list_page') }}">{{ "Events list page"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_venue_page" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_venue_page') }}">{{ "Venue page"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_blog" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_blog') }}">{{'Blog settings'|trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_settings_newsletter" %}active{% endif %}" href="{{ path('dashboard_administrator_settings_newsletter') }}">{{ "Newsletter"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('PrestaSitemapBundle_section', {'_format': 'xml', 'name': 'default'}) }}" target="_blank">{{ "Sitemap"|trans }}</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#events-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-calendar-alt fa-fw"></i> {{'Events' | trans}}
        </a>
        <ul id="events-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_administrator_event" or routename == "dashboard_administrator_event_date_statistics" or routename == "dashboard_administrator_category" or routename == "dashboard_administrator_category_add" or routename == "dashboard_administrator_category_edit" or routename == "dashboard_administrator_country" or routename == "dashboard_administrator_country_add" or routename == "dashboard_administrator_country_edit" or routename == "dashboard_administrator_language" or routename == "dashboard_administrator_language_add" or routename == "dashboard_administrator_language_edit" or routename == "dashboard_administrator_audience" or routename == "dashboard_administrator_audience_add" or routename == "dashboard_administrator_audience_edit" %}show{% endif %}">
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_event" or routename == "dashboard_administrator_event_date_statistics" %}active{% endif %}" href="{{ path('dashboard_administrator_event') }}">{{ "Manage events"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_category" or routename == "dashboard_administrator_category_add" or routename == "dashboard_administrator_category_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_category') }}">{{ "Categories"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_country" or routename == "dashboard_administrator_country_add" or routename == "dashboard_administrator_country_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_country') }}">{{ "Countries"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_language" or routename == "dashboard_administrator_language_add" or routename == "dashboard_administrator_language_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_language') }}">{{ "Languages"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_audience" or routename == "dashboard_administrator_audience_add" or routename == "dashboard_administrator_audience_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_audience') }}">{{ "Audiences"|trans }}</a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_orders') }}" class="nav-link {% if routename == "dashboard_administrator_orders" or routename == "dashboard_administrator_order_details" %}active{% endif %}">
            <i class="fas fa-cart-arrow-down fa-fw"></i> {{'Orders'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_payout_requests') }}" class="nav-link {% if routename == "dashboard_administrator_payout_requests" or routename == "dashboard_administrator_payout_request_details" %}active{% endif %}">
            <i class="fas fa-file-invoice-dollar fa-fw"></i> {{'Payout requests'|trans}}
            <span class="badge badge-warning float-right" data-toggle="tooltip" title="{{ "Pending payout requests"|trans }}">{{ services.getPayoutRequests({"status": 0, "count": true}).getQuery().getSingleScalarResult() }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_reports') }}" class="nav-link {% if routename == "dashboard_administrator_reports" %}active{% endif %}">
            <i class="fas fa-funnel-dollar fa-fw"></i> {{'Reports'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_user') }}" class="nav-link {% if routename == "dashboard_administrator_user" %}active{% endif %}">
            <i class="fas fa-users-cog fa-fw"></i> {{'Users'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="#venues-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-map-marker-alt fa-fw"></i> {{'Venues' | trans}}
        </a>
        <ul id="venues-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_administrator_venue" or routename == "dashboard_administrator_venue_add" or routename == "dashboard_administrator_venue_edit" or routename == "dashboard_administrator_venuetype" or routename == "dashboard_administrator_venuetype_add" or routename == "dashboard_administrator_venuetype_edit" or routename == "dashboard_administrator_amenity" or routename == "dashboard_administrator_amenity_add" or routename == "dashboard_administrator_amenity_edit" %}show{% endif %}">
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_venue" or routename == "dashboard_administrator_venue_add" or routename == "dashboard_administrator_venue_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_venue') }}">{{ "Manage venues"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_venuetype" or routename == "dashboard_administrator_venuetype_add" or routename == "dashboard_administrator_venuetype_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_venuetype') }}">{{ "Venue types"|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if routename == "dashboard_administrator_amenity" or routename == "dashboard_administrator_amenity_add" or routename == "dashboard_administrator_amenity_edit" %}active{% endif %}" href="{{ path('dashboard_administrator_amenity') }}">{{ "Amenities"|trans }}</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_translation') }}" class="nav-link {% if routename == "dashboard_administrator_translation" %}active{% endif %}">
            <i class="fas fa-language fa-fw"></i> {{'Translations'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_console') }}" class="nav-link {% if routename == "dashboard_administrator_console" %}active{% endif %}">
            <i class="fas fa-terminal fa-fw"></i> {{'Execute Symfony commands'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_page') }}" class="nav-link {% if routename == "dashboard_administrator_page" %}active{% endif %}">
            <i class="far fa-file-alt fa-fw"></i> {{'Pages'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_administrator_reviews') }}" class="nav-link {% if routename == "dashboard_administrator_reviews" %}active{% endif %}">
            <i class="fas fa-star fa-fw"></i> {{'Reviews'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="#blog-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="far fa-newspaper fa-fw"></i> {{'Blog' | trans}}
        </a>
        <ul id="blog-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_administrator_blog_post" or routename == "dashboard_administrator_blog_post_add" or routename == "dashboard_administrator_blog_post_edit" or routename == "dashboard_administrator_blog_post_category" or routename == "dashboard_administrator_blog_post_category_add" or routename == "dashboard_administrator_blog_post_category_edit" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('dashboard_administrator_blog_post') }}" class="nav-link {% if routename == "dashboard_administrator_blog_post" or routename == "dashboard_administrator_blog_post_add" or routename == "dashboard_administrator_blog_post_edit" %}active{% endif %}">
                    {{'Posts'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('dashboard_administrator_blog_post_category') }}" class="nav-link {% if routename == "dashboard_administrator_blog_post_category" or routename == "dashboard_administrator_blog_post_category_add" or routename == "dashboard_administrator_blog_post_category_edit" %}active{% endif %}">
                    {{'Categories'|trans}}
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#helpcenter-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="far fa-life-ring fa-fw"></i> {{'Help center' | trans}}
        </a>
        <ul id="helpcenter-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_administrator_help_center_category" or routename == "dashboard_administrator_help_center_category_add" or routename == "dashboard_administrator_help_center_category_edit" or routename == "dashboard_administrator_help_center_article" or routename == "dashboard_administrator_help_center_article_add" or routename == "dashboard_administrator_help_center_article_edit" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('dashboard_administrator_help_center_article') }}" class="nav-link {% if routename == "dashboard_administrator_help_center_article" or routename == "dashboard_administrator_help_center_article_add" or routename == "dashboard_administrator_help_center_article_edit" %}active{% endif %}">
                    {{'Articles'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('dashboard_administrator_help_center_category') }}" class="nav-link {% if routename == "dashboard_administrator_help_center_category" or routename == "dashboard_administrator_help_center_category_add" or routename == "dashboard_administrator_help_center_category_edit" %}active{% endif %}">
                    {{'Categories'|trans}}
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#account-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-user-cog fa-fw"></i> {{'Account'|trans}}
        </a>
        <ul id="account-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "fos_user_change_password" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('fos_user_change_password') }}" class="nav-link {% if routename == "fos_user_change_password" %}active{% endif %}">
                    {{'Change password'|trans}}
                </a>
            </li>
        </ul>
    </li>

{% elseif is_granted('ROLE_ORGANIZER') %}

    {# Organizer role sidebar links #}

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_profile') }}" class="nav-link {% if routename == "dashboard_organizer_profile" %}active{% endif %}">
            <i class="far fa-id-card fa-fw"></i> {{'My organizer profile'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_event') }}" class="nav-link {% if routename == "dashboard_organizer_event" or routename == "dashboard_organizer_event_add" or routename == "dashboard_organizer_event_edit" or routename == "dashboard_organizer_event_date_statistics" %}active{% endif %}">
            <i class="fas fa-calendar fa-fw"></i> {{'My events'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_venue') }}" class="nav-link {% if routename == "dashboard_organizer_venue" or routename == "dashboard_organizer_venue_add" or routename == "dashboard_organizer_venue_edit" %}active{% endif %}">
            <i class="fas fa-map-marker-alt fa-fw"></i> {{'My venues'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="#scanner-app-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-qrcode fa-fw"></i> {{'Scanner App' | trans}}
        </a>
        <ul id="scanner-app-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_organizer_settings_scanner_app" or routename == "dashboard_organizer_scanner" or routename == "dashboard_organizer_scanner_add" or routename == "dashboard_organizer_scanner_edit" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('dashboard_organizer_scanner') }}" class="nav-link {% if routename == "dashboard_organizer_scanner" or routename == "dashboard_organizer_scanner_add" or routename == "dashboard_organizer_scanner_edit" %}active{% endif %}">
                    {{'My scanners'|trans}}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('dashboard_organizer_settings_scanner_app') }}" class="nav-link {% if routename == "dashboard_organizer_settings_scanner_app" %}active{% endif %}">
                    {{ "Scanner App settings"|trans }}
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_pointofsale') }}" class="nav-link {% if routename == "dashboard_organizer_pointofsale" or routename == "dashboard_organizer_pointofsale_add" or routename == "dashboard_organizer_pointofsale_edit" %}active{% endif %}">
            <i class="fas fa-print fa-fw"></i> {{'My points of sale'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_reviews') }}" class="nav-link {% if routename == "dashboard_organizer_reviews" %}active{% endif %}">
            <i class="fas fa-star fa-fw"></i> {{'Reviews'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="#payout-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-file-invoice-dollar fa-fw"></i> {{'Payouts' | trans}}
        </a>
        <ul id="payout-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_organizer_event_date_request_payout" or routename == "dashboard_organizer_payout_requests" or routename == "dashboard_organizer_settings_payouts" or routename == "dashboard_organizer_settings_payouts_add" or routename == "dashboard_organizer_settings_payouts_edit" or routename == "dashboard_organizer_payout_request_details" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('dashboard_organizer_payout_requests') }}" class="nav-link {% if routename == "dashboard_organizer_event_date_request_payout" or routename == "dashboard_organizer_payout_requests" or routename == "dashboard_organizer_payout_request_details" %}active{% endif %}">
                    {{ 'Payout requests'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('dashboard_organizer_settings_payouts') }}" class="nav-link {% if routename == "dashboard_organizer_settings_payouts" or routename == "dashboard_organizer_settings_payouts_edit" or routename == "dashboard_organizer_settings_payouts_add" %}active{% endif %}">
                    {{ "Payout methods"|trans }}
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_organizer_reports') }}" class="nav-link {% if routename == "dashboard_organizer_reports" %}active{% endif %}">
            <i class="fas fa-funnel-dollar fa-fw"></i> {{'Reports'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="#account-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
            <i class="fas fa-user-cog fa-fw"></i> {{'Account'|trans}}
        </a>
        <ul id="account-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "fos_user_change_password" %}show{% endif %}">
            <li class="nav-item">
                <a href="{{ path('fos_user_change_password') }}" class="nav-link {% if routename == "fos_user_change_password" %}active{% endif %}">
                    {{'Change password'|trans}}
                </a>
            </li>
        </ul>
    </li>


{% elseif is_granted('ROLE_ATTENDEE') %}

    {# Attendee role sidebar links #}

    <li class="nav-item">
        <a href="{{ path('dashboard_attendee_orders') }}" class="nav-link {% if routename == "dashboard_attendee_orders" or routename == "dashboard_attendee_order_details" %}active{% endif %}">
            <i class="fas fa-ticket-alt fa-fw"></i> {{'My tickets'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_attendee_cart') }}" class="nav-link {% if routename == "dashboard_attendee_cart" %}active{% endif %}">
            <i class="fas fa-shopping-cart fa-fw"></i> {{'My cart'|trans}}
            <span class="badge badge-info float-right">{{ app.user.getTicketsInCartQuantitySum }}</span>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_attendee_favorites') }}" class="nav-link {% if routename == "dashboard_attendee_favorites" %}active{% endif %}">
            <i class="far fa-heart fa-fw"></i> {{'My favorites'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_attendee_reviews') }}" class="nav-link {% if routename == "dashboard_attendee_reviews" %}active{% endif %}">
            <i class="far fa-star fa-fw"></i> {{'My reviews'|trans}}
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('dashboard_attendee_following') }}" class="nav-link {% if routename == "dashboard_attendee_following" %}active{% endif %}">
            <i class="far fa-folder-open fa-fw"></i> {{'Following'|trans}}
        </a>
    </li>

    {% if app.user.facebookId is null and app.user.googleId is null %}

        <li class="nav-item">
            <a href="#account-submenu-{{random}}" data-toggle="collapse" data-parent="#dashboard-menu" class="nav-link dropdown-toggle">
                <i class="fas fa-user-cog fa-fw"></i> {{'Account'|trans}}
            </a>
            <ul id="account-submenu-{{random}}" class="nav flex-column ml-3 collapse {% if routename == "dashboard_attendee_account_settings" or routename == "fos_user_change_password" %}show{% endif %}">
                <li class="nav-item">
                    <a href="{{ path('dashboard_attendee_account_settings') }}" class="nav-link {% if routename == "dashboard_attendee_account_settings" %}active{% endif %}">
                        {{'Settings'|trans}}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_change_password') }}" class="nav-link {% if routename == "fos_user_change_password" %}active{% endif %}">
                        {{'Change password'|trans}}
                    </a>
                </li>
            </ul>
        </li>

    {% endif %}

{% elseif is_granted('ROLE_POINTOFSALE') %}

    {# Point of sale role sidebar links #}

    <li class="nav-item">
        <a href="{{ path('dashboard_pointofsale_orders') }}" class="nav-link {% if routename == "dashboard_pointofsale_orders" or routename == "dashboard_pointofsale_order_details" %}active{% endif %}">
            <i class="fas fa-cart-arrow-down fa-fw"></i> {{'My orders'|trans}}
        </a>
    </li>

{% endif %}